@font-face{
font-family: sweetcherry;
src: url(./assets/fonts/sweet-cherry-free/SweetCherryFree/Sweet\ Cherry\ Free.otf.otf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.main_container {
  width: 35%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 0px 4px rgb(141, 138, 138);
  border-radius: 5px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 60px;
}

.main_container .box {
  position: relative;
  top: -275px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  left: 0;
  width: 40rem;
  height: 150px;
  padding: 20px;
  background: linear-gradient(to right,#f5cba7,  rgb(243, 98, 82));
}

.main_container .box .heading {
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
  color: white;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main_container .sub_heading h2 {
  font-size: 4rem;
  text-align: center;
  padding: 30px;
  font-family: "Satisfy";
  font-weight: 600;
  font-style: normal;
  color: salmon;
}

.main_container .sub_heading h3 {
  color: #eea11d;
  font-size: 3.5rem;
  text-align: center;
  font-family:sweetcherry;
  font-weight: 800;
  font-style: normal;
}

.main_container .btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  border-radius: 60px;
  text-align: center;
  background: linear-gradient(to right,#f5cba7,  rgb(243, 98, 82));
  border: none;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 110px;
}

.main_container .btn a{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.main_container .btn a:hover{
  color: rgb(231, 75, 57);
}
.main_container .btn img{
  align-items: left;
  border-radius: 50%;
  /* border: 3px solid rgb(243, 98, 82); */
  margin-left: 10px;
  padding:2px;
  width: 40%;
  height: 80px;
  
}

.main_container .image img{
  margin: auto;
  width: 280px;
  height: 260px;
  padding: 20px;
  margin-top: 20px;
margin-left: 60px;
}



